<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        
        <a class="navbar-brand">
          <span id="left">
            <i class ="glyphicon glyphicon-star"></i>
          </span>
        
          <span id="right">
              <i class ="glyphicon glyphicon-search"></i>
              &nbsp;
              <i class ="glyphicon glyphicon-shopping-cart"></i>
          </span>
        </a>
        
      </div>
      
    </div>
  </nav>
